<section class="tbsh-attribute-list">
    <table class="tbsh-attribute-table">
        <thead>
            <tr>
                <th>
                    <span class="tbsh-attribute-header">{{localize "TBSH.fields.labels.attributes.strength.short"}}</span>
                </th>
                <th>
                    <span class="tbsh-attribute-header">{{localize "TBSH.fields.labels.attributes.dexterity.short"}}</span>
                </th>
                <th>
                    <span class="tbsh-attribute-header">{{localize "TBSH.fields.labels.attributes.constitution.short"}}</span>
                </th>
                <th>
                    <span class="tbsh-attribute-header">{{localize "TBSH.fields.labels.attributes.intelligence.short"}}</span>
                </th>
                <th>
                    <span class="tbsh-attribute-header">{{localize "TBSH.fields.labels.attributes.wisdom.short"}}</span>
                </th>
                <th>
                    <span class="tbsh-attribute-header">{{localize "TBSH.fields.labels.attributes.charisma.short"}}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tbsh-attribute-cell">
                    <input type="number" name="data.attributes.strength" value="{{data.attributes.strength}}" />
                </td>
                <td class="tbsh-attribute-cell">
                    <input type="number" name="data.attributes.dexterity" value="{{data.attributes.dexterity}}" />
                </td>
                <td class="tbsh-attribute-cell">
                    <input type="number" name="data.attributes.constitution" value="{{data.attributes.constitution}}" />
                </td>
                <td class="tbsh-attribute-cell">
                    <input type="number" name="data.attributes.intelligence" value="{{data.attributes.intelligence}}" />
                </td>
                <td class="tbsh-attribute-cell">
                    <input type="number" name="data.attributes.wisdom" value="{{data.attributes.wisdom}}" />
                </td>
                <td class="tbsh-attribute-cell">
                    <input type="number" name="data.attributes.charisma" value="{{data.attributes.charisma}}" />
                </td>
            </tr>
        </tbody>
    </table>
</section>
