<div class="tbsh-damage-button-container">
    <button class="tbsh-damage-button" data-actor="{{actorId}}" data-critical="{{critical}}" data-formula="{{formula}}" data-id="{{weaponId}}" data-name="{{weapon}}">
        {{localize "TBSH.messages.labels.buttons.rollDamage"}}
    </button>
</div>
